.container {
  scroll-margin-top: 70px;
}

.mapContainer {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 400px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.creatureOverlay {
  width: 10%;
  aspect-ratio: 1/1;
  max-height: 400px;
  position: absolute;
}

.creatureOverlay img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.settingsOverlay {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
}

.containerGraph {
  height: 100%;
  max-height: 400px;
  margin-bottom: "5em";
  padding: 10px;
}
