.mainContentContainer {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  a {
    background: none;
    color: #006eff;
    border-color: #006eff;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 1rem;
  }

  video {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
  }
}
