.app {
  width: 80%;
  max-width: 1500px;
  height: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
}

@media only screen and (max-width: 1100px) {
  .app {
    width: 97%;
  }
}
